<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<div class="pull-left col-md-6 col-xs-6">
			<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-href="{{ site.url }}"></div>
		</div>
		<div class="logo logo-footer logo-gray pull-right"></div>
	</div>
	<div class="row">
		{% for block in site.footerBlocks %}
        {% assign colWidth = 12 | divided_by: forloop.length %}
		<div class="col-md-{{ colWidth }} col-xs-6">
			<h5>{{ block.title }}</h5>
			<ul>
				{% for linkElement in block.links %}
				<li><a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %}>{{ linkElement.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<ul class="social-links">
				<li><a href="https://www.weibo.com/awsfaq" target="_blank"><span class="fab fa-weibo"></span></a></li>
				<!--
				<li><a href="https://www.weibo.com/" target="_blank"><span class="fab fa-weixin"></span></a></li>
				-->
				<li><a href="hhttps://twitter.com/DevOpsCN" target="_blank"><span class="fab fa-twitter"></span></a></li>
				<li><a href="https://www.linkedin.com/company/31107595/" target="_blank"><span class="fab fa-linkedin"></span></a></li>
				<!--
				{% for social in site.socialLinks %}
				<li>
					<a href="{% if social.permalink != null %} {{ social.permalink | prepend: site.baseurl }} {% else %} {{ social.link }} {% endif %}" target="_blank">
						<svg class="icon icon-{{ social.icon }}" viewBox="0 0 30 32">
							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social.icon }}"></use>
						</svg>
					</a>
				</li>
				{% endfor %}
				-->
			</ul>
		</div>
	</div>
	<div class="row">
		<!-- Please don't delete this line-->
		<div class="col-md-6">
			<p class="copyright">
				&copy; 2020 大会主办方 <a href="https://DevOpsChina.org" target="_blank">中国DevOps社区</a> &middot; 本网站由志愿者维护。
			</p>
		</div>
	</div>
</footer>
<!-- End Footer -->