<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.subscribeImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.subscribeTitle }}</h3>
            <div id="mc_embed_signup" class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
                <form action="https://devopsmeetup.us19.list-manage.com/subscribe/post?u=39d1798bd2fedeccb77058031&amp;id=c1c7af8e09" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"  novalidate>
                    <div class="mc-field-group col-lg-9 col-sm-9 col-xs-12">
                        <i class="email bordered required waves-effect waves-light waves-input-wrapper">
                            <input type="email" value="" name="EMAIL"  id="mce-EMAIL"  type="email" class="waves-button-input"  placeholder="your@email.com" autocomplete="off">
                        </i>
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_9fc8aa205b0521b5f05fc8e1e_ae0fb459fc" tabindex="-1" value="">
                    </div>
                    <div class="mc-submit-group clear col-lg-3 col-sm-3 col-xs-12">
                        <i class="button bordered required waves-effect waves-light waves-input-wrapper">
						  <input type="submit" class="waves-button-input" value="订阅" name="subscribe" id="mc-embedded-subscribe">
                        </i>
                    </div>
                </form>
                <span class="subscribe-info">{{ site.subscribeInfo }}</span>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->